@media screen and (max-width: 480px) and (orientation:portrait)  {
    #feedsAbo{
        float:left;
        width:100%;
    }
    #feedEntries{
        margin-left: 0%;
    }
}


@media screen and (min-width: 481px) and (max-width: 1000px), screen and (orientation:landscape) and (max-width: 1000px) {
    #feedsAbo{
        float:left;
        width:33%;
    }
    #feedEntries{
        margin-left: 35%;
    }
}

@media screen and (min-width: 1001px) , screen and (orientation:landscape)  {
    #feedsAbo{
        float:left;
        width:330px;
    }
    #feedEntries{
        margin-left: 350px;
    }
}

#addfeeddialog{
    position: fixed;
}

#articleTitle{
    padding: 0 1rem;    
}
#articleContent {
    padding: 0 1rem;
}
#articleContent p {
    margin: 1rem 0;
}

#articleContent img {
    margin: 0.5rem 1rem ;
}

#articleContent h1 {
    margin: 1rem 0;
}
#articleContent h2{
    margin: 0.8rem 0;
}
#articleContent h3 {
    margin: 0.6rem 0;
}
#feedEntries p:first-child{
    color: #333333;
}