nav.tabs div.tabs-inner .active>a {
    color: white;
}

body {
    background: black;
}

#feedEntries p:first-child {
    color: white;
}

[data-role="footer"] nav {
    background: #222222;
}

.popover {
    background: #333333;
    color: white;
}

nav.tabs {
    border-bottom: 14px solid #444444;
}


[data-role="list"].subscriptionItemsList li p:first-child{
    color:white;
}

#mainPage, [data-role="list"] #subscriptionItemsPane,
[data-role="list"] #subscriptionItemsList, [data-role="list"].darkList,*
#extendedConfigurationPage,#subscriptionItemsSmallDisplayList, 
#articleContent, #showArticlePage{
    background:  black;
}

[data-role="list"] li p {
    color: #BBBBBB;
}

#feedsAboList li p {
    color: white;
}

[data-role="content"] p {
    color: #CCCCCC;
}

[data-role="content"] {
    color: #CCCCCC;
}

[data-role="content"] h1, [data-role="content"] h2, [data-role="content"] h3 {
    color: white;
}

#articleContent pre {
    background-color: #444444;
    color: #CCCCCC;
}

#articleContent p, #articleContent {
    color: white;
}

.white{
    color: black;
    background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#000000));
    background: -moz-linear-gradient(top, #aaa, #000000);
}

/* [data-role="list"] li p { */
/*     color: #BBBBBB; */
/* } */
/* #feedsAboList li.active { */
/*     color: white; */
/* } */

/* #feedsAboList li.active { */
/*     background-color: blue; */
/* } */