@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=latin,latin-ext);
@media screen and (max-width: 479px) {
    #subscriptionPane {
        float: left;
        width: 100%;
    }
    #subscriptionItemsPane {
        margin-left: 0%;
        width: 0%;
    }
}

@media screen and (min-width: 480px) {
    #subscriptionPane {
        float: left;
        width: 33%;
    }
    #subscriptionItemsPane {
        margin-left: 33%;
        width: 67%;
    }

#extendedConfigurationPage .configurationLeft {
    float: left;
    width: 65%;
}

#extendedConfigurationPage .configurationRight {
    margin-left: 66%
}
    
}

.leftpopover[data-gravity="s"]:before,.leftpopover[data-gravity="s"]:after
{
    left: 90%;
}
body {
    background: white;
}

.popover, [data-role="list"]{
    cursor:pointer;
}

[data-role="header"] {
    position: fixed;
    width: 100%;
    background: #4A5357;
    border-color:black;
}

[data-role="header"] .roundy {
    background: white;
    border-radius: 2rem 2rem 2rem 2rem;
    padding: 0rem 0.6rem;
    color: #222B2F;
}
nav.tabs {
    border-bottom-color:black;
}
nav.tabs div.tabs-inner {
    border-color:black;
}
nav.tabs div.tabs-inner .active > a{
    color: white;
}
/*[data-role="footer"] nav ul li a:active{
    background-color: #CC4400;
    color: white;
}*/
[data-role="footer"] nav ul li a:hover {
    background-color: #016A1D;
    color: white;
}

[data-role="footer"] nav ul li a.tapped {
    background-color: #016A1D;
    color: white;
}

[data-role="list"].darkList{
    background: #4A5357;
    /* 	background: #182125; */
    color:white;	
    border-top-color: black;
}

[data-role="list"].darkList li, [data-role="list"].darkList a, [data-role="list"].darkList header {
    border: none;
}

[data-role="list"].darkList [data-subscription-id], [data-role="list"].darkList [data-category-id]{
    /* 	border: none; */
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    /* 	background: #182125; */
}

[data-role="list"].darkList .feedlocation{
    background: #4A5357;
    /* 	background: #182125; */
}


[data-role="list"].darkList .feedlocation h2{
    text-align: center;
    text-transform: uppercase;
    color:white;	
    padding-top:1em;
}


[data-role="list"].darkList p{
    color:white;	
}

/*For the configuration menu*/
[data-role="list"] li p {
	color: gray;
}

[data-role="content"] h1, [data-role="content"] h2, [data-role="content"] h3{
	color: black;
}


/* The categories subscriptions*/
[data-role="list"].darkList header{
    padding-left: 0px;
}

[data-role="list"].darkList [data-category-id]{
    display: block;
    height: 3.4em;
    background: #2C3539;
    padding-left:1em;
    text-decoration: none;
    /* 	background: #2C3539; */
    text-transform: uppercase;
}

[data-role="list"].darkList [data-category-id] p {
    padding-top:1em;
}

[data-role="list"].darkList [data-category-id] p:before {
    content: "> ";
}

/*The subscriptions*/
[data-role="list"].darkList [data-subscription-id] {
    background: #222B2F;
}

/*The active subscription*/
[data-role="list"].darkList [data-subscription-id].active {
    background: #016A1D;
}

[data-role="list"].darkList [data-subscription-id].touchBeforeActive,[data-role="list"].darkList li > a:active {
    background: #157E31;
}


[data-role="list"].subscriptionItemsList li p:first-child {
    color:black;
    font-weight: bold;
}

[data-role="list"].subscriptionItemsList li p {
    color:gray;
    font-weight: bold;
}

[data-role="list"].subscriptionItemsList li a.read p:first-child {
    font-weight: normal;
    /*color:red;*/
}

[data-role="list"].subscriptionItemsList li a.read p {
    font-weight: normal;
    /*color:red;*/
}

[data-role="list"].subscriptionItemsList .noItems {
    text-align: center;
    color: black;
}

li.feedlocation  h2 {
    /*     color: #ea7140; */
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-right: 1rem;
    color: white;
}


#subscriptionPane, #subscriptionItemsSmallDisplayList, #subscriptionItemsPane, #showArticlePage, #extendedConfigurationPage {
    position: fixed;
    overflow-y: auto;
    top: 74px;
    bottom: 70px;
}
/*#subscriptionItemsPane{
    background-color: #606060;
}*/

#configurePopover .list {
    max-height: 400px;
}

#showArticlePage {
    height: auto;
}

.tapped {
    background-color: #eb7f55;
}

#addfeeddialog {
    position: fixed;
}

#articleTitle a,#articleContent a {
    /*color: #cc3818;*/
    color: #016A1D;
    font-weight: bold;

    /*color:yellowgreen;*/
}

#articleTitle {
    padding: 0 1rem 1rem 1rem;
}

#articleContent {
    padding: 0 1rem;
    color:black;
}

#articleContent p {
    margin: 1rem 0;
    color:black;
}

#articleContent img {
    margin: 0.5rem 1rem;
    box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
}

#articleContent h1 {
    margin: 1rem 0;
}

#articleContent h2 {
    margin: 0.8rem 0;
}

#articleContent h3 {
    margin: 0.6rem 0;
}

#articleContent ul {
    list-style-type: square;
    list-style-position: inside;
}

#articleContent ol {
    list-style-type: decimal;
}

#articleContent pre {
    background-color: #CCCCCC;
    color: #444444;
    font-family: Fixedsys, Courier, monospace;
    padding: 10px;
    margin: 8px;
}

#connectToTheOldReader {
    height: 12rem;
    width: 12rem;
    margin: 1rem;
}

#connectToTheOldReader p {
    margin-top: 4.5rem;
}


.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top, #fff, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.button {
    display: inline-block;
    zoom: 1;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    /* font: 14px/100% Arial, Helvetica, sans-serif; */
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

#connectToTheOldReader:after {
    background-image: none;
}


.clear {
    clear: both;
}

/*Toggles*/
label input[type="checkbox"][data-type="switch"]:checked + span.toggle > span.toggle-handle {
    background: #016A1D;
}

label:not([for]) input[type="checkbox"]:checked + span {
    background: #016A1D;
}