#subscriptionPane, #subscriptionItemsSmallDisplayList, #subscriptionItemsPane, #showArticlePage, #extendedConfigurationPage {
    position: fixed;
    overflow-y: auto;
    top: 74px;
    bottom: 70px;
}