<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.whitefox.parken"
        version = "1.0.1"> 
    <name>RamSamSam Reader</name>

    <description>RamSamSam Reader</description> 

    <preference name="RamSamSamReaderSettings" value="true" >
        <feature name="http://api.phonegap.com/1.0/contacts/"/>
        <feature name="http://api.phonegap.com/1.0/file"/>
        <feature name="http://api.phonegap.com/1.0/notification"/>
        <feature name="http://api.phonegap.com/1.0/network"/>
    </preference>
    <access origin="*" />
    <content src="index.html" />
</widget>
